
*{
  margin: 0%;
  padding: 0%;
}


.navbar{
  background-color: black;
  opacity: 0.2%;


}

ul li{
  display: inline;
  text-decoration: none;
  padding-right: 10%;
  float: right;



}
 li a{
  text-decoration: none;
  color: #fff;


}

#sec1{
  background-image: url("../img/cover.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-size: cover;*/
}
