
*{
  margin: 0%;
  padding: 0%;
}


ul li{
  display: inline;
  text-decoration: none;
  padding-right: 10%;
  float: right;



}
 li a{
  text-decoration: none;
  color: #fff;


}

.sec1{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/port.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;


}

#sec1{
  text-align: center;
  color: #fff;
}

/*.typewriter {
  height: 200px;

}*/

.wrap{
  padding-top: 90%;
  text-align: center;
}

.sec2{
  display: block;
  border-radius: 20%;
  margin-left: 40%;
  margin-right: 40%;
  border-style: solid;
  color: aqua;
  height: 10%;
  margin-top: 30%;
}

.sec2 a{
  text-decoration: none;
  color: #c0c0c6;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: 25%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0BC9CD;
}

.img1:hover .overlay {
  opacity: 1;
}

.overlay {
  text-align: center;
  padding-top: 100px;
  font-size: 4em;
}

.overlay, a{
  color: #000;
  text-decoration: none;
}
/*hire.html*/


.hireMe{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../img/hire.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
}

.h1{
  color: aqua;
  font-family: 'Roboto', sans-serif;
}

.text{
  font-size: 2em;
  font-style: oblique;
  color: #fff;
  margin-top: 15%;
  line-height: 250%;
  font-family: 'Roboto', sans-serif;

}

.text1{
  color: black;
  font-family: 'Roboto', sans-serif;

}

.img1 img {
  width: 100%;
  height: auto;

}

/*technical skills*/
#skills{
  background-color: #dce0e5;
  cursor: pointer;
}

#skills, h1{
  font-family: 'Roboto', sans-serif;

}

/*footer*/

.site-footer{
  /* .push must be the same height as footer */
    height: auto;
}
.site-footer {
  background: #101038;
}

.foot{
  padding-top: 3%;
  color: #fff;
}

.media{
  color: white;
  margin-right: 25%;
  cursor: pointer;

}

.media, ul{
  padding-top: 5%;
}

a:hover {
  color: white;
  text-decoration: underline overline;
}

.tel{
  color: #fff;
  padding-top: 5%;
  font-family: 'Roboto', sans-serif;


}

.tel1{
  color: #fff;
  padding-top: 5%;
  font-family: 'Roboto', sans-serif;

}

.copyright{
  color: #fff;
  font-size: 1em;
  margin-top: 5%;
}

.footnote a{
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}
